@import url('https://fonts.googleapis.com/css?family=Cairo:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    
}
body, html{
    height: 100%;
}
body{
    
    background: #1CD8D2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93EDC7, #1CD8D2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.header, .footer, .container, .dashhead, .dash {
    position: absolute;
    width: 100%;
}

.header {
    width: 100%;
    min-height: 60px;
    /* height: auto; */
    /* display: flex; */
    top: 0;
}
.hc {
    margin: 0px 4vw;
    position: relative;
    /* display: flex; */
    /* width: 100%; */
    line-height: 60px;
}
.hc .head {
    /* width: 100%; */
    display: inline-block;
    height: inherit;
    /* display: flex; */
    /* align-items: center; */
    margin-left: 2vw;
}
h1{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: calc(16px + 1.2vw);
}
.hc .ham {
    float: right;
    transform: translate(-100%, 5%);
    display: none;
    cursor: pointer;
}

nav {
    /* width: 100%; */
    /* margin: 0; */
    /* height: 50vh; */
    /* position: relative; */
    /* display: flex; */
    float: right;
    /* display: inline-block; */
}

nav.open{
    right: 0;
    opacity: 1;
}


i.fas.fa-bars {
    font-size: 1.5em;
}
i.fas.fa-times {
    font-size: 1.5em;
    transform: translate(-40%);
}

.nav-links {
    /* display: flex; */
    /* margin-left: auto; */
    /* width: fit-content; */
    /* height: inherit; */
    list-style: none;
}
li {
    /* display: flex; */
    display: inline-block;
    align-items: center;
    /* padding: 0px 20px; */
    margin: 0px .6vw;
    /* min-width: 8vw; */
    /* align-items: center; */
    /* justify-items: center; */
    /* justify-content: center; */
}


.nav-link {
    font-size: calc(12px + .5vw);
    text-decoration: none;
    padding: 0px 10px;
    /* height: 30px; */
    /* margin: 0px 20px; */
    /* background-color: white; */
    border-radius: 3px;
    color: black;
    font-family: 'Cairo';
    transition: color 0.2s ease-in;
}

.nav-link.active, .nav-link:hover, .nav-link:active{
    background-color: white;
    color: black;
    
    transition: all 0.4s ease;
}


.container {
    top: 60px;
    bottom: 60px;
    width: 100%;
    display: flex;
}

.cnt{
    width: inherit;
    display: flex;
    margin: 20px 50px;
}
.desc{
    width: 50%;
    
    margin: auto 100px;
    
}
.desc section{
    font-size: 1.6em;
    margin-bottom: 25px;
}

.desc div{
    border: 2px solid black;
    background-color: #2df3b1;
    width: fit-content;
    padding: 4px 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.call{
    color: black;
    text-decoration: none;
}

.desc div:hover { 
    background-color: rgb(13, 223, 118);
}


.img{
    width: 50%;
    margin: auto;
    align-items: center;
}


/*login page*/
.login{
    min-width: 300px;
    min-height: 400px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid white;
    background-color: white;
    box-shadow: 0px 10px 15px -8px rgb(0, 0, 0);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.login h2{
    font-family: 'Fira Sans Condensed';
    font-size: 2em;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}
.name-input{
    width: 100%;
    position: relative;
    margin: 10px 0px;
    height: 40px;
    overflow: hidden;
}

.name-input input{
    width: 100%;
    height: 100%;
    padding: 25px 2px 5px 2px;
    border: none;
    outline: none;
    transition: background-color 0.5s ease-in;
}
.name-input input:focus{
    border-radius: 5px;
    /* background-color: rgb(243, 243, 243); */
}

.name-input label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.name-input label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(69, 196, 255);
    box-shadow: 0px 5px 15px -10px rgb(69, 165, 255);
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 1em;
    font-family: 'Cairo', sans-serif ;
    transition: all 0.3s ease;
}

.name-input input:focus + .lname .content-name, .name-input input:valid + .lname .content-name{
    transform: translateY(-70%);
    font-size: 14px;
    color: rgb(15, 139, 255);
}
.name-input input:focus + .lname::after, .name-input input:valid + .lname::after{
    transform: translateX(0%);
}

   
.pwd-input{
    width: 100%;
    position: relative;
    margin: 10px 0px;
    height: 40px;
    overflow: hidden;
}

.pwd-input input{
    width: 100%;
    height: 100%;
    padding: 25px 2px 5px 2px;
    border: none;
    outline: none;
    transition: background-color 0.5s ease-in;
}
.pwd-input input:focus{
    border-radius: 5px;
    /* background-color: rgb(243, 243, 243); */
}
.pwd-input label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.pwd-input label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(69, 165, 255);
    box-shadow: 0px 5px 15px -10px rgb(69, 165, 255);
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.content-pwd{
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 1em;
    font-family: 'Cairo', sans-serif ;
    transition: all 0.3s ease;
}

.pwd-input input:focus + .pwd .content-pwd, .pwd-input input:valid + .pwd .content-pwd{
    transform: translateY(-70%);
    font-size: 14px;
    color: rgb(69, 165, 255);
}
.pwd-input input:focus + .pwd::after, .pwd-input input:valid + .pwd::after{
    transform: translateX(0%);
}



.submit{
    width: 100%;
    /* margin: 20px; */
    height: 30px;
    margin: 5vh 0px 2vh 0px;
    border: none;
    font-size: 1em;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -8px rgb(187, 246, 253);
    cursor: pointer;
    color: black;
    outline: none;
    background: linear-gradient(to left, #93EDC7, #1CD8D2);
    transition: color 0.1s ease-in;
}

.submit:hover{
    background: linear-gradient(to left, #23d372, #1bd1aa);
    color: rgb(255, 255, 255);
}
.footer{
    bottom: 0px;
}

/*Dashboard Page*/
.dashhead{
    min-height: 40px;
    display: flex;
    background-color:rgb(4 12 58);
}

.dashhead .head{
    display: flex;
    /* margin: 0px 30px; */
    width: 100%;
    align-items: center;
    
}
.head .ham {
    padding: 0px 10px;
    cursor: pointer;
}
.head i.fas.fa-bars {
    color: rgb(28, 168, 157);
}
.head .hd{
    width: 50%;
    height: inherit;
    display: contents;
}




.dashhead h1{
    font-size: 1.3em;
    padding-left: 5px;
    color: white;
    margin-right: auto;
}

.dash{
    display: flex;
    top:40px;
    bottom: 0px;
    background-color: white;
    
    
}

.head .us{
    position: relative;
    min-width: 200px;
    width: max-content;
    height: 100%;
    /* margin-left: auto; */
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: tomato;*/
}


.us .fa-user-circle{
    position: relative;
    font-size: 1.8em;
    color: wheat;
}

.us .user{
    width: 100%;
    height: 100%;
}
.us .status {
    width: 10px;
    position: absolute;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    left: 20px;
    top: 0;
}

.us .user {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    color: floralwhite;
    font-family: 'Cairo';
    font-size: 1.2em;
    width: max-content;
    height: 100%;
}

.dash .fc{
    min-width: max-content;
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(6, 53, 73, 1);
    transition: all 0.5s ease 0.2s;

}

.dash .fc.hide{
    min-width: 0vw;
    width: 50px;
    transition: all 0.5s ease 0.2s;
}
.menuhead.hide, .menu.hide{
    opacity: 0;
    transform: translateX(-100%);
    display: block;
    overflow: hidden;
    transition: all 0.2s ease;
}

.dash .sc{
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* box-shadow: 1px 0px 8px 0px #504f4f inset; */
    background-color: rgb(231, 231, 233);
}



.menuhead, .menu{
    font-family: 'Cairo', sans-serif;
    
    padding: 3px 10px;
    transition: all 0.2s ease;
}

.menuhead{
    font-size: 1em;
    color: white;
    /* font-size: 16px; */
    font-weight: 600;
}
.menu{
    font-size: .9em;
    
    background-color: #0a5b6dbf;
}
.menu a{
    text-decoration: none;
    color: white;
}

.menu:hover{
    background-color: #084a58cc;
}



.reg_cont{
    /* position: relative; */
    /* width: 100%; */
    height: 90%;
    margin: 10px;
    margin-bottom: 0px;
    overflow: auto;
    box-shadow: 0px 1px 5px 0px grey;
    background-color: white;
    padding: 20px 0px 20px 50px;
    
}

form.reg{
    display: flex;
    /* min-height: 415px; */
    flex-direction: column;
}
.reg_sec {
    display: flex;
    justify-content: flex-start;
    /* display: grid; */
    /* width: 100%; */
}
.reg_sec, .reg_add div, .reg_cont h3 {
    margin-bottom: 6px;
}
.reg_cont h3{
    font-size: 1em;
    color: lightseagreen;
    font-family: 'Cairo','Sans-serif';
}
.reg_cont h2{
    margin-bottom: 12px;
    /* font-weight: bolder; */
    font-size: 1.2em;
    color: rgb(15 93 82);
    font-family: 'Cairo','Sans-serif';
}

.reg_input {
    width: 33%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.reg_add div {
    /* width: 100%; */
    display: flex;
    justify-content: flex-start;
}

.reg_input label {
    font-size: 14px;
    padding-bottom: 5px;
    font-family: 'Fira Sans Condensed';
}

.reg_input input[type="text"], .reg_input select {
    
    font-size: 1em;
    font-family: 'Cairo';
    height: 25px;
    padding-left: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid #dedddd;
    transition: border-bottom 0.3s ease;
    
}

.reg_input input[type="text"] {
    
    width: 80%;
    
}
.reg_input input[type="text"]:focus {
    
    border-color: rgb(141, 141, 141);
    
}
.reg_input select{
    width: max-content;
}

.btn {
    /* width: 100%; */
    margin: 10px;
    margin-top: 0;
    position: relative;
    box-shadow: 0px 5px 5px 0px grey;
    background-color: white;
    min-height: 60px;
}

.reg_rst, .reg_sub{
    border: none;
    position: absolute;
    /* bottom: 0; */
    width: 60px;
    height: 60px;
    cursor: pointer;
}


button.reg_rst {
    background-color: rgba(255, 20, 20, 0.562);
    outline: none;
    left: 0px;
   
}
button.reg_rst:hover {
    background-color: rgba(255, 20, 20, 0.712);
    
}

button.reg_sub {
    background-color: rgba(17, 204, 17, 0.603);
    outline: none;
    right: 0px;
}

button.reg_sub:hover {
    background-color: rgba(17, 204, 17, 0.842);
    
}

.reg_input textarea{
    outline: none;
    resize: none;
    padding: 5px;
    margin-top: 5px;
    width: 80%;
    overflow: auto;
    border: 1px solid #dedddd;
}

.reg_input input[type="file"]{
    margin-top: 5px;
    padding-left: 5px;
}

.reg_input input[type="date"]{
    outline: none;
    width: 80%;
    border: 1px solid #dedddd;
    margin: 5px 0px;
    height: 30px;
    padding-left: 5px;
}



@media only screen and (max-width: 768px) {

    
    /* .hc {
        margin: 0;
    }
    h1{
        font-size: 1.5em;
    } */
    .hc .ham{
        display: block;
    }
    nav {
        width: 100%;
        z-index: 2;
        opacity: 0;
        position: fixed;
        right: -100%;
        box-shadow: 0px 0px 2px 0px #012b22;
        /* background-color: white; */
        /* display: block; */
        transition: all 0.2s ease-in .2s;
    }
    .nav-links {
        width: 100%;
        text-align: center;
        background-color: white;
        /* box-shadow: 0px 0px 5px 0px #00c19a inset; */
        /* position: fixed; */
        /* display: block; */
    }
    ul.nav-links li {
        display: block;
        line-height: 50px;
        margin: 0;
        background-color: rgb(33 212 158);
    }

    .nav-link{
        display: block;
        
        font-size: 1.1em;
        padding: 0px;
    }

    .nav-link:hover, .nav-link:active, .nav-link.active{
        background-color: aquamarine ;
        box-shadow: 0px 1px 5px black;
        color: black;
    }
    
    .menuhead{
        font-size: .9em;
    }
    .menu{
        font-size: .8em;
    }
    
    .reg_cont{
        padding-top: 10px;
        padding-left: 5vw;
    }

    .reg_sec {
        flex-direction: column;
    }

    .reg_input, .reg_add div {
        width: 100%;
        flex-direction: column;
    }
    .reg_input input[type="text"], .reg_input textarea, .reg_input input[type="date"] {
        width: 90%;
    }
    .reg_add{
        display: flex;
        flex-direction: column;
    }
    .head .ham{
        padding-right: 5px;
    }
    .head i.fas.fa-bars {
        font-size: 1.2em;
    }
    .us .fa-user-circle{
        font-size: 1.4em;
    }
    .us .status{
        width: 8px;
        height: 8px;
        left: 15px;
    }
    .us .user{
        font-size: 1.1em;
    }
    
}